.wraper{
    box-shadow: 0px 4px 30px 0px #0533540D;
    width: 100%;
    min-height: 315px;
    margin-top: 50px;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    align-items:start;
    justify-content: space-between;
}

.image-wraper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.name-wraper{
    display: flex;
    justify-content: space-between;
    width: 110px;
}
.category-title{
    font-family: FiraGO;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    color: #0533544D;
}
.edit-wraper{
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.name{
    font-family: FiraGO;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    color: #18A4E1;
}
.edit-box{
    display: flex;
    align-items: start;
}
.text-box{
    display: flex;
    flex-direction: column;
}
.title{
    font-family: FiraGO;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    margin-left: 10px;
}
.edit-text{
    font-family: FiraGO;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    margin-left: 10px;
    color: #0533544D;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.overlay{
    max-width: 350px;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0px 4px 30px 0px #0533540D;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
}
.overlay-wrapper{
    width:100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #053354B2;
}
.profileimage{
    width: 157px;
    height: 157px;
    border-radius: 50%;
    object-fit: cover;
}
.button{
    max-width: 300px;
    width: 100%;
    height: 40px;
    border-radius: 50px;
    background-color: #053354;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: none;
  }
  
  .input{
    max-width: 300px;
    width: 100%;
    border: 1px solid #ECF2F8;
    height: 40px;
    border-radius: 50px;
    outline: none;
    margin-top: 10px;
  }
 