<div class="container">
    <div class="wraper">
        <div class="edit-box">
            <img (click)="openWindow('name',user.name)" src="../../../assets/images/edit-svgrepo-com 6.png"/>
            <h2 class="title">{{user?.name}}</h2>      
        </div>
        <div class="edit-box">
            <img (click)="openWindow('lastName',user.lastName)" src="../../../assets/images/edit-svgrepo-com 6.png"/>
            <h2 class="title">{{user?.lastName}}</h2>      
        </div>
        <div class="edit-box">
            <img (click)="openWindow('privateNumber',user.privateNumber)" src="../../../assets/images/edit-svgrepo-com 6.png"/>
            <div class="text-box">
                <p class="title">პირადი ნომერი :</p>
                <p class="edit-text">{{user?.privateNumber}}</p>
            </div>        
        </div>
        <div class="edit-box">
            <img (click)="openWindow('email',user.email)" src="../../../assets/images/edit-svgrepo-com 6.png"/>
            <div class="text-box">
                <p class="title">იმეილი :</p>
                <p class="edit-text">{{user?.email}}</p>
            </div>        
        </div>
        <div class="edit-box">
            <img (click)="openWindowForPassword()" src="../../../assets/images/edit-svgrepo-com 6.png"/>
            <!-- <div class="text-box"> -->
                <p class="title">პაროლის შეცვლა :</p>
            <!-- </div>         -->
        </div>
        <div class="edit-box">
            <img  src="../../../assets/images/edit-svgrepo-com 6.png"/>
            <!-- <div class="text-box"> -->
                <p class="title">ჯავშანი :</p>
            <!-- </div>         -->
        </div>
    </div>
    <div *ngIf="OpenWindow||OpenWindowForPassword" class="overlay">
        <input *ngIf="OpenWindow" class="input" type="text" [(ngModel)]="inputValue" (change)="handleChange($event,property)">
        <input *ngIf="OpenWindowForPassword" class="input" type="text" name="currentPassword" [(ngModel)]="currentPassword" (input)="handlePasswordChange($event)">
        <input *ngIf="OpenWindowForPassword" class="input" type="text" name="newPassword" [(ngModel)]="newPassword" (input)="handlePasswordChange($event)">
        <button *ngIf="OpenWindowForPassword" class="button" (click)="changePassword()">შეცვლა</button>
        <button *ngIf="OpenWindow&&property!=='email'" class="button" (click)="updateUser()">შეცვლა</button>
        
        <button *ngIf="property==='email'&&!EnterCode" class="button" (click)="sendCodeToEmail()">გაგზავნე კოდი მეილზე</button>
        <button *ngIf="EnterCode&&!EnterNewEmail&&!EnterNewEmailCode" class="button" (click)="enterCode()">შეიყვანე კოდი</button>
        <button *ngIf="EnterNewEmail&&!EnterNewEmailCode" class="button" (click)="enterNewEmail()">შიყვანე ახალი მეილი</button>
        <button *ngIf="EnterNewEmailCode" class="button" (click)="changeEmail()">შიყვანე კოდი ახალი იმეილის დასადასტურებლად</button>


    </div>
    <div *ngIf="OpenWindow||OpenWindowForPassword" (click)="removeWindow()" class="overlay-wrapper"></div>
</div>