<div class="wraper">
    <div class="container">
        <div class="logo-div">
            <img src="../../../assets/images/logo 2.png"/>
            <span i18n class="span-text-logo" >{{ 'clinic-text' | translate }}</span>
        </div>
        <div class="footer-container">
            <div class="border-wraper">
                <span i18n class="span-text">{{ 'Information' | translate }}</span>
                <span i18n class="span-text">{{ 'For Patients' | translate }}</span>
                <span i18n class="span-text">{{ 'Contact' | translate }}</span>
                <span i18n class="span-text" style="width: 100px;">{{ 'Follow Us' | translate }}</span>
            </div>
            <div class="list-wraper">
                <ul class="list">
                    <li i18n>{{ 'About Us' | translate }}</li>
                    <li i18n>{{ 'Partners' | translate }}</li>
                    <li i18n>{{ 'For Doctors' | translate }}</li>
                    <li i18n>{{ 'For Clinics' | translate }}</li>
                    <li i18n>{{ 'For Applicants' | translate }}</li>
                </ul>
                <ul class="list">
                    <li i18n>{{ 'Doctors' | translate }}</li>
                    <li i18n>{{ 'Clinics' | translate }}</li>
                    <li i18n>{{ 'Annotations' | translate }}</li>
                    <li i18n>{{ 'Blog' | translate }}</li>
                    <li i18n>{{ 'Media' | translate }}</li>
                </ul> 
                <ul class="list">
                    <li i18n>{{ 'Working Days: Mon - Fri' | translate }}</li>
                    <li i18n>{{ 'Working Hours: 9:00 AM - 5:00 PM' | translate }}</li>
                    <li i18n>{{ '10 Iakob Nikoladze St' | translate }}</li>
                </ul> 
                <ul class="list" style="width: 100px;">
                    <li>{{ 'Facebook' | translate }}</li>
                    <li>{{ 'Instagram' | translate }}</li>
                    <li>{{ 'Youtube' | translate }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="copyright-div">
    <span class="copyright-text">{{ 'Copyright' | translate }}</span>
</div>
