<div class="wraper">
    <div class="container">
        <div class="logo-div">
            <img src="../../../assets/images/logo 2.png"/>
            <span class="span-text-logo" >კლინიკა</span>
        </div>
        <div class="footer-container">
            <div class="border-wraper">
                <span class="span-text">ინფორმაცია</span>
                <span class="span-text">პაციენტებისთვის</span>
                <span class="span-text">კონტაქტი</span>
                <span class="span-text" style="width: 100px;">გამოგვყევით</span>
            </div>
            <div class="list-wraper">
                <ul class="list">
                    <li>ჩვენ შესახებ</li>
                    <li>პარტნიორები</li>
                    <li>ექიმებისთვის</li>
                    <li>კლინიკებისთვის</li>
                    <li>აფთიაქებისთვის</li>
                </ul>
                <ul class="list">
                    <li>ექიმები</li>
                    <li>კლინიკები</li>
                    <li>ანოტაციები</li>
                    <li>ბლოგი</li>
                    <li>მედია</li>
                </ul> 
                <ul class="list">
                    <li>სამუშაო დღეები : ორშ - პარ</li>
                    <li>სამუშაო დრო : 9:00 - 17:00</li>
                    <li>იაკობ ნიკოლაძე №10</li>
                </ul> 
                <ul class="list" style="width: 100px;">
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="copyright-div">
    <span class="copyright-text">copyright</span>
</div>