<div class="header-wraper">
    <div class="logo-div">
        <img class="logo" src="../../../assets/images/logo 1.png"/>
        <h3 i18n class="clinic-text">{{'clinic-text' | translate}}</h3>
    </div>
    <nav class="navigation">
        <div class="nav-border-div">
        <a  class="nav-link" routerLink="/home">{{'home' | translate}}</a>
        <a  class="nav-link" routerLink="/home">{{'clinics' | translate}}</a>
        <a  class="nav-link" routerLink="/home">{{'annotations' | translate}}</a>
        <a  class="nav-link" routerLink="/home">{{'offers' | translate}}</a>
        <a  class="nav-link" routerLink="/home">{{'services' | translate}}</a>
        <a  class="nav-link" routerLink="/home">{{'medications' | translate}}</a>
        <a  class="nav-link" routerLink="/home">{{'contact' | translate}}</a> 
        </div>
        <div [ngStyle]="{ 'justify-content': isAuthenticated ? 'space-between' : 'center', 'padding-right': isAuthenticated ? '30px' : '20px','padding-left': isAuthenticated ? '0px' : '20px' }" (click)="goToProfile(user.id)" class="nav-auth-button" *ngIf="user && !admin;">
            <img *ngIf="user.profileImage" class="profileimage" [src]="url+user.profileImage"/>
            <img *ngIf="!user.profileImage" class="profileimage" src="../../../assets/images/avatar.png"/>
            <p  class="nav-link-login">{{user.name}} {{user.lastName}}</p>                                        
        </div>
        <div [ngStyle]="{ 'justify-content': isAuthenticated ? 'space-between' : 'center', 'padding-right': isAuthenticated ? '60px' : '20px','padding-left': isAuthenticated ? '0px' : '20px' }" (click)="goToAdminPanel(user.id)" class="nav-auth-button" *ngIf="admin">
            <img *ngIf="!user.profileImage" class="profileimage" src="../../../assets/images/avatar.png"/>
            <p  class="nav-link-login">{{'admin' | translate}}</p>                                        
        </div>
        <div *ngIf="!user&&!admin">
            <button  class="nav-auth-button">
                <p  class="nav-link-login" (click)="Authorize()">{{'login' | translate}}</p>                                        
                <a  class="nav-link" routerLink="/registration">/ {{'registration' | translate}}</a>
            </button>
        </div>
        <div class="language-wraper">
            <div *ngIf="selected=== 'en'" (click)="switchLanguage('en')" >ENG</div>
            <div *ngIf="selected=== 'ka'" (click)="switchLanguage('ka')" >GE</div>
        </div>                                                           
    </nav>
</div>
<div class="container">
    <div class="wraper">
        <div class="list-container">
            <div class="list" style="max-width: 160px;">
                <div class="image-wraper">
                    <img src="../../../assets/images/call-svgrepo-com (3) 1.png"/>
                </div>
                <span class="span-text">032 2 100 100</span>
            </div>
            <div class="list" style="margin-left: 15px;">
                <div class="image-wraper">
                    <img src="../../../assets/images/location-svgrepo-com (1) 2.png"/>
                </div>
                <span  class="span-text">{{'address' | translate}}</span>
            </div>
        </div>
        
        <input  [(ngModel)]="names" name="name" (change)="handleChange($event)" class="search-input" placeholder="{{'search_placeholder_name' | translate}}"/>
        <input  [(ngModel)]="category" name="category" (change)="handleChange($event)" class="search-input" placeholder="{{'search_placeholder_category' | translate}}"/>
        <div (click)="handleClick()" class="image-wraper img-div">
            <img src="../../../assets/images/ri_search-line.png"/>
        </div>
    </div>
</div>
<div class="overlay" *ngIf="setOverlay" (click)="clickOverlay()">
    <div class="search-box">
        <p>{{'searchResults' | translate}}</p>
    </div>
</div>
<img *ngIf="homepath" style="width: 100%;" src="../../../assets/images/სლაიდერი.jpg"/>
