.categories-card{
    max-width: 350px;
    width: 100%;
    min-height: 800px;
    background-color: #fff;
    border:1px solid #ECF2F8;
    margin-top: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.list-wraper{
    width: 100%;
    border-bottom: 1px solid #ECF2F8;
    padding-bottom: 30px;
}
.title{
    margin-top: 30px;
    text-align: left;
}
.category-title{
    margin-top: 30px;
    margin-left: 40px;
}
.list-title{
    border-bottom: 1px solid #ECF2F8;
    padding-bottom: 10px;
    text-align: center;
}
.list-category{
    width: 120px;
    margin: 0 auto;
}
.list-container{
    display: flex;
}