thead {
  background-color:#F0FAFF;
  color: #053354;
}

tbody {
  background-color: #fff;
}

table {
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  width: 100%;
  margin-top: 50px;
  box-shadow: 0px 4px 30px 0px #0533540D;
}

caption {
  caption-side: bottom;
  padding: 10px;
}

td {
  border-bottom: 1px solid #ECF2F8 ; 
  padding:15px;
  text-align: left;
}
th{
  padding:10px;
  text-align: left;
}

.buttons{
  display: flex;
  justify-content: space-around;
}
.delete-button{
  background-color: #FF93A6;
}
.button{
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
}
.edit-button{
  background-color: #DAFAEE;
}
.download-button{
  background-color: #FF93A6;
}

.add-button{
    width: 180px;
    height: 50px;
    border-radius: 50px;
    background-color: #053354;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: none;
}
.wraper{
  width: 50%;
  margin: 0 auto;
  min-height: 500px;
}
.overlay{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 500px;
  height: 350px;
  display: flex;
  background-color: #fff;
  box-shadow: 0px 4px 30px 0px #0533540D;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  z-index: 100;
}
.register-button{
  width: 180px;
  height: 50px;
  background-color: #053354;
  color:#fff;
  border: none;
}
.overlay-container{
  width:100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #053354B2;
}