<div *ngIf="user">
    <div class="profile-card">
        <img/>
        <ul class="list">
            <li class="list-title">{{role}}:</li>
            <li class="list-title">{{user.name}} {{user.lastName}}</li>
            <li class="list-title">პირადი ნომერი :</li>
            <li class="list-title">{{user.privateNumber}}</li>
            <li class="list-title">Email :</li>
            <li class="list-title">{{user.email}}</li>
            <li class="list-title">პაროლის შეცვლა</li>
            <li class="list-title">ჩემი ჯავშანი :</li>
            <li (click)="logOut()" class="list-title">სისტემიდან გასვლა</li>
        </ul>
    </div>
</div>