<p class="book-title" *ngIf="editUser&&role==='USER'">ჩემი ჯავშანი ({{SumUserBooks}})</p>
<p class="book-title" *ngIf="editUser&&role==='DOCTOR'">ჯავშნები ({{SumDoctorBooks}})</p>

<div class="buttons">
  <h3>{{ viewDate | date: 'yyyy' }}</h3>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
      >
       <div class="image">
        <img src="../../../assets/images/Vector.png" alt="">
       </div>
      </div>
      <div class="month-button">
        <h3>{{ viewDate | date: 'MMMM' }}</h3>
      </div>
      <div
        class="btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
      >
        <div class="image">
          <img src="../../../assets/images/material-symbols_arrow-back-ios-rounded (2).png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #weekView let-segment="segment" let-locale="locale" let-isTimeLabel="isTimeLabel" >
  <div   [class.cal-time]="isTimeLabel" class="cell" [style.background-color]="isWeekend(segment.date) ? '#FFFFF5':''">
    {{isTimeLabel? customDateFormatter.weekViewHour({ date: segment.date, locale: locale }):'' }}
  </div>
</ng-template>

<div [ngSwitch]="view" class="calendar-wraper">
  <mwl-calendar-week-view 
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    [hourSegments]="1" 
    [hourSegmentHeight]="60"
    [dayStartHour]="9"
    [dayEndHour]="17" 
    [hourDuration]="60"
    [hourSegmentTemplate]="weekView"
    >
  </mwl-calendar-week-view>



  <form *ngIf="OpenDateInput" class="form add-form">
     <label>აირჩიეთ ადგილების რაოდენობა</label>
     <input class="input" type="datetime-local" [(ngModel)]="dateStart" name="start" (change)="handleChange($event)"/>
     <button class="add-button"  (click)="addChildEvent()">+ დამატება</button>
     <button class="add-button"  (click)="addEvent()">გაგზავნა</button>
  </form>
  <div class="buttons-wraper">
  <button class="add-button" *ngIf="isAdmin" (click)="openWindow()">+ დამატება</button>
  <button class="edit-button"  (click)="editEnabled()">
    <img src="../../../assets/images/edit-svgrepo-com 3.png" alt="">
    <p>რედაქტირება</p>
  </button>
  <button class="delete-button"  (click)="deleteEnabled()">
    <img src="../../../assets/images/delete-file-svgrepo-com 3.png" alt="">
    <p>წაშლა</p>
  </button>
  </div>

  <form *ngIf="Editable||Deletable"  class="form">
    <div *ngFor="let book of UserBooks">
      <div *ngIf="editUser&&role==='USER'">
        <button class="button" *ngIf="Editable" (click)="selectBook(book)">{{book.start}}</button>
        <button class="button" *ngIf="Deletable" (click)="deleteEvent(book)">{{book.start}}</button>
      </div>
      <div *ngIf="isUserEntered&&!editUser||role!=='USER'&&!editUser">
        <button class="button" *ngIf="Editable" (click)="selectBook(book)">{{book.name}} {{book.lastName}} {{book.start}}</button>
        <button class="button" *ngIf="Deletable" (click)="deleteEvent(book)">{{book.name}} {{book.lastName}} {{book.start}}</button>
      </div>
    </div>
    <div *ngFor="let book of DoctorBooks">
      <div *ngIf="isAdmin||role==='DOCTOR'||isDoctorEntered&&role!=='USER'&&!isUserEntered">
        <button class="button" *ngIf="Editable" (click)="selectBook(book)">{{book.name}} {{book.lastName}}  {{book.start}}</button>
        <button class="button" *ngIf="Deletable" (click)="deleteEvent(book)">{{book.name}} {{book.lastName}}  {{book.start}}</button>
      </div>    
    </div>
    <p style="color:red" *ngIf="UserBooks.length===0&&DoctorBooks.length===0">ჯავშნები არ არის</p>
  </form>
  <form *ngIf="ShowBookDescription"  class="form">
    <input  class="input" type="text" [(ngModel)]="editdescription" name="description" (change)="handleChange($event)"/>
    <button  class="add-button" (click)="editDescription()">შენახვა</button>
  </form>
  
  <form *ngIf="SelectEvent" class="form">
    <p style="color: red; font-size: 20px;" *ngIf="SelectEvent">{{SelectEvent}}</p>
  </form>
  <form class="form" *ngIf="filteredEvents.length>0"> 
    <div style="display: flex; width: 100%;" *ngFor="let event of filteredEvents">
      <div class="button button-details">
        <p>{{event.name}} </p>
        <p>{{event.lastName}}</p>  
        <p>{{event.start}}</p>  
        <p>{{event.description}}</p>
      </div>
    </div>
  </form>
  <form class="form" *ngIf="bookDate.length>0">
    <div *ngFor="let date of bookDate">
      <button class="button">{{date.start.split("T")[1].split(":").slice(0, 2).join(":")}}</button>
    </div>
  </form>

  <form *ngIf="isOpen" class="form">
   <div class="timebuttons">
    <div *ngFor="let dates of PlaceEvents">
      <button class="button" [disabled]="dates.isBooked" (click)="handleDateClick(dates.calendarModelId,dates.id)">{{dates.start.split("T")[1].split(":").slice(0, 2).join(":")}}</button>
    </div>
   </div>
    <label>გსურთ ვიზიტის დაჯავნშნა ?</label>
    <label>შეგიძლიათ მიუთუთოთ თქვენი პორბლემა</label>
    <input class="input" type="text" [(ngModel)]="description" name="description" (change)="handleChange($event)"/>
    <button class="add-button" (click)="editEvent()">დაჯავშნა</button>
  </form>
  <form *ngIf="userEntered" class="form">
    <p>დასაჯავშნად გთხოვთ გაიაროთ ავტორიზაცია ან რეგისტრაცია.</p>
  </form>
  <div *ngIf="userEntered||isOpen||Editable||Deletable||SelectEvent||filteredEvents.length>0||bookDate.length>0||ShowBookDescription||OpenDateInput" class="overlay" (click)="removeForm()"></div>
</div>
