.category-card{
    max-width: 390px;
    width: 100%;
    height: 390px;
    background-color: #fff;
    box-shadow: 0px 4px 30px 0px #0533540D;
    border: 1px solid #18A4E14D;
    border-radius: 10px;
    padding: 10px;
}
.views{
    width: 107px;
    height: 30px;
    border-radius: 50px;
    background-color: #ECF2F880;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.views-wrap{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.pin-image{
    width: 23.4px;
    height: 23.4px;
    object-fit: contain;
}
.stars{
    display: flex;
    justify-content: space-between;
}
.button{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color:#ECF2F8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.details-wraper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 320px;
}
.name-title{
    line-height: 21.6px;
    font-size: 18px;
    color:#053354;
    font-weight: 400;
}
.category-title{
    color:#0533544D;
    font-size: 16px;
    line-height: 19px;
}
.profileimage{
    width: 157px;
    height: 157px;
    object-fit: cover;
    border-radius: 50%;
}