<div class="doctor-details-card" *ngIf="doctor">
    <div class="wraper">
        <div>
        <img *ngIf="doctor?.profileImage" class="profileimage" [src]="url+doctor.profileImage" alt="Profile Image">

        </div>
        <div class="details-box">
            <h2 *ngIf="doctor.name && doctor.lastName" class="name-title" translate [translateParams]="{ 'name': doctor.name + ' ' + doctor?.lastName }">doctorDescription.name</h2>
            <p *ngIf="doctor?.category" class="category-title" translate [translateParams]="{ 'category': doctor!.category}">doctorDescription.category</p>
            <div class="stars">
                <img src="../../../assets/images/material-symbols_star-rounded.png"/>
                <img src="../../../assets/images/material-symbols_star-rounded.png"/>
                <img src="../../../assets/images/material-symbols_star-rounded.png"/>
                <img src="../../../assets/images/material-symbols_star-rounded.png"/>
            </div> 
        </div>
    </div>
    <div class="description-box">
        <!-- <p i18n class="description-text"><span class="highlight">2017 - დღემდე</span>, ჩვენი კლინიკის გენერალური დირექტორი</p>
        <p i18n class="description-text">2002 - დღემდე, ჩვენი კომპიუტერული ტომოგრაფიის განყოფილების ხელმძღვანელი</p> -->
        <p translate [translateParams]="{ 'description': doctor!.description}">doctorDescription.select</p>

    </div>
</div>
<div class="calendar-wraper">
    <app-calendar [doctorId]="doctorId"></app-calendar>
</div>
